.item{
    min-width: 160px;
    width: 280px;
    padding: 45px;
    background-color: #e2e0e0;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.item:hover{
    background-color: #EBA2B6;
}
.item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.play{
    position: relative;
}
.play .fa{
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #D3607A;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}
.item:hover .play .fa{
    opacity: 1;
    transform: translateY(-20px);
}
.item h4{
    color: #000000;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item p{
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}