* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #EBA2B6, #D15F79);
    font-family: 'Montserrat', sans-serif;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo img {
    width: 100px;
}
header .logo h1 {
    text-align: left;
    font-size: 30px;
    color: #d42f55;
}
header .nav {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
header .nav .divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 15px;
    width: auto;
}
header .nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px;
}
header .nav a:hover {
    background-color: #ECA3B7;
    border-radius: 50px;
    padding: 10px;
}

main .header{
    width: 50%;
    margin: 70px auto;
    border-bottom: 1px solid #d42f55;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
main .header h1{
    font-size: 50px;
    font-weight: bold;
}
main .header h2{
    font-size: 20px;
    font-weight: 350;
}
main .author {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 15px;
}
main .author img {
    width: 75px;
}
main .author .name_date {
    display: flex;
    flex-direction: column;
}

main .article .image{
    width: min-content;
    margin: 0px auto;
}

main .article .text {
    width: 35%;
    margin: 30px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

main .footer {
    display: flex;
    justify-content: center;
    gap: 150px;
}
main .footer img {
    width: 36px;
}
main .footer button {
    background-color: #D3607A;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 35px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    width: 225px;
}
main .footer button:hover,
main .footer button:active,
main .footer button:focus {
    background-color: #ECA3B7;
}

footer .commentary {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 85%;
    margin: 20px auto;
    background-color: #D3607A;
    background-color: #ECA3B7;
    padding: 25px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}
footer .user {
    text-align: center;
}
footer .user img {
    width: 75px;
}
footer .comment {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(210,210,210);
}
